@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

:root {
    --dark-slate-gray: #283f3bff;
    --light-green: #95e06cff;
    --mint: rgb(27, 27, 27);
    --lavender-blush: rgb(248, 246, 247);
    --fire-engine-red: #c1292eff;
}

#main-forms {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-family: "Parkinsans", sans-serif;
}

#forms {
    margin-top: 2rem;
    background-color: var(--mint);
    width: 50%;
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: "Parkinsans", sans-serif;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

#forms h2 {
    color: var(--lavender-blush);
    border: var(--lavender-blush) solid 0.2rem;
    padding: 0.4rem;
    border-radius: 0.8rem;
    font-family: "Parkinsans", sans-serif;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 40%);
}

#forms input[type=text] {
    font-size: 1.2rem;
    padding: 0.2rem;
    text-align: center;
    border-radius: 0.4rem;
    border: none;
    font-family: "Parkinsans", sans-serif;
    border-bottom: thick double var(--dark-slate-gray);
}

#forms button {
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    background-color: var(--lavender-blush);
    color: var(--dark-slate-gray);
    border: none;
    font-family: "Parkinsans", sans-serif;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

#forms button:hover {
    background-color: var(--dark-slate-gray);
    transform: scale(1.05);
    color: var(--lavender-blush);
}

#forms button:active {
    background-color: var(--lavender-blush);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.body-grupo-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.4rem;
    border: solid white;
    border-bottom: thick double white;

    width: 44%;

    & p {
        padding: 0.4rem 0;
        color: gray;
        font-size: 1.3rem;
    }
}

.grupo-1 {
    display: flex;
    justify-content: space-between;

    & p {
        padding: 0 1rem;
        color: grey;
        font-size: 1rem;
    }
}

.body-grupo-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.4rem;
    border: solid white;
    border-bottom: thick double white;

    width: 80%;

    & p {
        padding: 0.4rem 0;
        color: gray;
        font-size: 1.3rem;
    }
}

.grupo-2 {
    display: flex;
    justify-content: space-between;

    & p {
        padding: 0 1rem;
        color: grey;
        font-size: 1rem;
    }
}

.grupo-3 {
    display: flex;
    justify-content: space-between;

    & p {
        padding: 0 1rem;
        color: grey;
        font-size: 1.3rem;
    }
}

.grupo-4 {
    display: flex;
    justify-content: space-between;

    & p {
        padding: 0 1rem;
        color: grey;
        font-size: 1.3rem;
    }
}

.loading {
    position: relative;
    left: 1.5rem;
}